<p>
  programme works!
</p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Nom du programme</span>
          <input type="text" class="form-control" placeholder="Nom du programme" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Code du cours</span>
          <input type="text" class="form-control" placeholder="Code du cours" aria-describedby="sizing-addon3">
        </div>

      </div>

      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Abreviation du cours</span>
          <input type="text" class="form-control" placeholder="Abreviation du cour" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Departement</span>
          <input type="text" class="form-control" placeholder="Departement" aria-describedby="sizing-addon3">
        </div>
      </div>

    </div>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">Cours</div>
  <div class="panel-body">
    Table des cours
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    BAREME D'HONORAIRES
  </div>

</div>