<ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <!--<li><a href="#">Adminition</a></li>-->
      <li class="active">Adminition</li>
    </ol>
  
    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Nom</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Prenom</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Sexe</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Date de naissance</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Lieu de naissance</span>
      <input type="text" class="form-control" placeholder="Lieu de naissance" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Filliation</span>
      <input type="text" class="form-control" placeholder="Filliation" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Tuteur</span>
      <input type="text" class="form-control" placeholder="Tuteur" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Telephone</span>
      <input type="text" class="form-control" placeholder="Telephone" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Email</span>
      <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">Groupe sangain</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>

    <div class="input-group input-group-sm" style="padding-top: 10px">
      <span class="input-group-addon" id="sizing-addon3">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </div>