
  <button class="btn-save" (click)="onSaveCours()">Enregistrer</button>
  <hr> 


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Classe</span>
          <input type="text" class="form-control" placeholder="Classe" name="libCls" [(ngModel)]="libCls" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Code du classe</span>
          <input type="text" class="form-control" placeholder="Code du classe" name="cdeCls" [(ngModel)]="cdeCls" aria-describedby="sizing-addon3">
        </div>

      </div>

      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Abreviation du cours</span>
          <input type="text" class="form-control" placeholder="Abreviation du cours" name="abrvCrs" [(ngModel)]="abrvCrs" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Departement</span>
          <!--<input type="text" class="form-control" placeholder="Departement" name="DepCrs" [(ngModel)]="DepCrs" aria-describedby="sizing-addon3">-->
          <select class="form-control">
            <!--<option>-- Select departement --</option>-->
            <option *ngFor="let item of departement" name="departement">{{item.depName}}</option>
          </select>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">Intro du cours</div>
  <div class="panel-body">
    <textarea class="form-control" rows="3" name="introCrs" [(ngModel)]="introCrs"></textarea>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Echelle de notation par defaut
  </div>

</div>