<app-navbar> </app-navbar>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a routerLink="studentList">Students</a></li> 
      <!-- <li role="presentation"><a routerLink="grades">Grades</a></li> -->
      <li role="presentation"><a routerLink="payments">Payments</a></li>
      <!-- <li role="presentation"><a routerLink="students">Students</a></li> -->
      <li role="presentation"><a routerLink="students">Attendances</a></li>
      <!-- <li role="presentation"><a routerLink="students">Timetables</a></li>  -->
    </ul>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>