<p>
  instructeur works!
</p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Nom de l'instructeur</span>
          <input type="text" class="form-control" placeholder="Nom de l'instructeur" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Employé</span>
          <input type="text" class="form-control" placeholder="Employé" aria-describedby="sizing-addon3">
        </div>

      </div>

      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Numero</span>
          <input type="text" class="form-control" placeholder="Abreviation du cour" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Departement</span>
          <input type="text" class="form-control" placeholder="Departement" aria-describedby="sizing-addon3">
        </div>
      </div>

    </div>
  </div>

</div>
