<div class="page-header">
   <ol class="breadcrumb">
    <li class="active">Student Details</li>
  </ol> 
  <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Create
  </button>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Student Details
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
        <button class="btn btn-default" type="submit" style="margin:3px">Choisire un fichier</button>
      </div>
      <div class="col-md-8">
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Student Card number</span>
          <input type="text" class="form-control" placeholder="Student Card number" name="student_card_number" [(ngModel)]="student_card_number" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">First name</span>
          <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Middle name</span>
          <input type="text" class="form-control" placeholder="Middle name" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Last name</span>
          <input type="text" class="form-control" placeholder="Last name" aria-describedby="sizing-addon3">
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
          <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Coef</th>
              <th>Exam</th>
              <th>Grade 1</th>
              <th>Grade 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>