<p>
  class-levels works!
</p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    List class Level
    <span class="pull-right">
      <button class="btn btn-success" type="submit" style="margin: -6px;" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        ADD CLASS LEVEL
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      Selecte class level below to show info
    </div>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-body navbar-right">
    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save and add another</button>
    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
  </div>
</div>

<!-- add class level modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add class level</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="alert alert-info" role="alert">
                Add class level <br/>
                Add class level <br/>
                Add class level <br/>
              </div>
            </div>
            <div class="col-md-8">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">Code Class level</span>
                <input type="text" class="form-control" placeholder="Code Class level" name="abrvCrs" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Class level</span>
                <input type="text" class="form-control" placeholder="Class level" name="abrvCrs" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Departement</span>
                <input type="text" class="form-control" placeholder="Departement" name="abrvCrs" aria-describedby="sizing-addon3">
              </div>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>