<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <p class="navbar-text"><a routerLink="../home" class="navbar-link"><strong>Home</strong></a></p>
      <p class="navbar-text"><a routerLink="../admission" class="navbar-link"><strong>Admission</strong></a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link"><strong>Departement</strong></a></p>
      <p class="navbar-text"><a routerLink="../student" class="navbar-link"><strong>Students</strong></a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link"><strong>Attendence</strong></a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link"><strong>Accounting</strong></a></p>
      <p class="navbar-text"><a routerLink="../configuration" class="navbar-link"><strong>Configuration</strong></a></p>
    </div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{connecteUser}}</a> &nbsp; Deconection</p>
  </div>
</nav>