<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <p class="navbar-text"><a routerLink="../admition" class="navbar-link">Admission</a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link">Departement</a>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link">Presence</a>
      <p class="navbar-text"><a href="#" class="navbar-link">Comptabilite</a>
      <p class="navbar-text"><a routerLink="../configuration" class="navbar-link">Configuration</a>
    </div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{email}}</a> &nbsp; Deconection</p>
  </div>
</nav>