<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <p class="navbar-text"><a routerLink="../home" class="navbar-link">Home</a></p>
      <p class="navbar-text"><a routerLink="../admission" class="navbar-link">Admission</a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link">Departement</a></p>
      <p class="navbar-text"><a routerLink="../student" class="navbar-link">Student</a></p>
      <p class="navbar-text"><a routerLink="../departement" class="navbar-link">Presence</a></p>
      <p class="navbar-text"><a href="#" class="navbar-link">Comptabilite</a></p>
      <p class="navbar-text"><a routerLink="../configuration" class="navbar-link">Configuration</a></p>
    </div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">...</a> &nbsp; Deconection</p>
  </div>
</nav>