<app-navbar></app-navbar>

<div class="container"> 
  <img src="../../../assets/images/admissions.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
  <img src="../../../assets/images/batchs.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
  <img src="../../../assets/images/grade.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
  <img src="../../../assets/images/fees.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
  <img src="../../../assets/images/employees.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
  <img src="../../../assets/images/settings.png" alt="..." class="img-rounded" style="width:150px; height: 150px">
</div>