
<button class="btn-save" (click)="onSave()">Enregistrer</button>
<hr>  

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/g-school.png" alt="esponsive image" class="img-thumbnail" style="width:140px; height: 140px">
      </div>
      <div class="col-md-8">
         <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Nom de l'etablissement</span>
          <input type="text" class="form-control" placeholder="Nom de l'etablissement" aria-describedby="sizing-addon3" name="etsName">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Abreviation</span>
          <input type="text" class="form-control" placeholder="Abreviation" aria-describedby="sizing-addon3" name="etsAbrv">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Slogan</span>
          <input type="text" class="form-control" placeholder="Slogan" aria-describedby="sizing-addon3" name="annSco">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6"> 
         <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Adress 1</span>
          <input type="text" class="form-control" placeholder="Adress 1" aria-describedby="sizing-addon3" name="annSco">
        </div> 
        
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Phone</span>
          <input type="text" class="form-control" placeholder="Phone" aria-describedby="sizing-addon3" name="email">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Website</span>
          <input type="text" class="form-control" placeholder="Website" aria-describedby="sizing-addon3" name="email">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Fax</span>
          <input type="text" class="form-control" placeholder="Website" aria-describedby="sizing-addon3" name="email">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Registration number</span>
          <input type="text" class="form-control" placeholder="Registration number" aria-describedby="sizing-addon3" name="email">
        </div>
          
      </div>
      <div class="col-md-6"> 
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Adress 2</span>
          <input type="text" class="form-control" placeholder="Adress 2" aria-describedby="sizing-addon3" name="annSco">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Email</span>
          <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon3" name="telephone">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Tax ID</span>
          <input type="text" class="form-control" placeholder="Tax ID" aria-describedby="sizing-addon3" name="email">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Authorization number</span>
          <input type="text" class="form-control" placeholder="Authorization number" aria-describedby="sizing-addon3" name="email">
        </div>
      </div>
     </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Departements
    <span class="pull-right">
      <button class="btn btn-success" type="submit" style="margin: -6px;">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        VIEW DEPARTEMENTS
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      <p>Add departements</p>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Code</td>
        <td>Departement</td>
        <td>Abreviation</td>
        <td>Fees</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          <input type="text" name="Depcode" class="form-control"/>
        </td>
        <td>
          <input type="text" name="Depname" class="form-control"/>
        </td>
        <td>
          <input type="text" name="DepAbrev" class="form-control"/>
        </td>
        <td>
          <input type="text" name="DepFees" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          <input type="text" name="codeDep" class="form-control" [(ngModel)]="codeDep"/>
        </td>
        <td>
          <input type="text" name="nameDep" class="form-control" [(ngModel)]="codeDep"/>
        </td>
        <td>
          <input type="text" name="AbrevDep" class="form-control" [(ngModel)]="codeDep"/>
        </td>
        <td>
          <input type="text" name="DepFees" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          <input type="text" name="codeDep" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameDep" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevDep" class="form-control" />
        </td>
        <td>
          <input type="text" name="DepFees" class="form-control"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Rooms
    <span class="pull-right">
      <button class="btn btn-success" type="submit" style="margin: -6px;">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        VIEW ROOMS
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      <p>Add Rooms</p>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Code</td>
        <td>Rooms</td>
        <td>Place</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          <input type="text" name="Clsscode" class="form-control" />
        </td>
        <td>
          <input type="text" name="Clssname" class="form-control" />
        </td>
        <td>
          <input type="text" name="ClssAbrev" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          <input type="text" name="Clsscode" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameClss" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevClss" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          <input type="text" name="Clsscode" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameClss" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevClss" class="form-control" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Subjects
    <span class="pull-right">
      <button class="btn btn-success" type="submit" style="margin: -6px;">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        VIEW SUBJECTS
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      <p>Add Subjects</p>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Code</td>
        <td>Subjects</td>
        <td>Teacher</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          <input type="text" name="codeCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevCrs" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          <input type="text" name="codeCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevCrs" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          <input type="text" name="codeCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="nameCrs" class="form-control" />
        </td>
        <td>
          <input type="text" name="AbrevCrs" class="form-control" />
        </td>
      </tr>
    </tbody>
  </table>
</div>