<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="#" routerLink="../../configuration">Department</a></li>
    <li class="active">Exams List</li>
  </ol>
  <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
  <span class="pull-right">
    <div class="dropdown">
      <button class="btn btn-sm btn-default dropdown-toggle" style="margin: -6px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Action
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Delete</a></li>
        <li><a href="#">Class levels</a></li>
        <li><a href="#">Teachers</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </span>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Exams List
  </div>
  <div class="panel-body">
    <!-- Table -->
  <table class="table">
    <thead>
        <tr>
          <th>ID</th>
          <th>Exam Code</th>
          <th>Exam Name</th>
          <th>Start date</th>
          <th>End date</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of exams">
        <td>{{item.id}}</td>
        <td><a href="#">{{item.code}}</a></td>
        <td><a href="#">{{item.name}}</a></td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add Exam</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              Add room level <br/> Add room level <br/> Add room <br/>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Exam Code</span>
              <input type="text" class="form-control" placeholder="Exam Code" name="examCode" [(ngModel)]="examCode" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Exam Name</span>
              <input type="text" class="form-control" placeholder="Exam Name" name="examName" [(ngModel)]="examName" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Start Date</span>
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="examStartDate" [(ngModel)]="examStartDate">
              <!-- <input type="number" class="form-control" placeholder="Place" name="roomPlace" [(ngModel)]="roomPlace" aria-describedby="sizing-addon3"> -->
            </div>

             <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">End Date</span>
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="examEndDate" [(ngModel)]="examEndDate">
              <!-- <input type="text" class="form-control" placeholder="Class level" name="abrvCrs" aria-describedby="sizing-addon3"> -->
            </div> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-sm" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
</div>