
  <button class="btn-save" (click)="onSaveCours()">Enregistrer</button>
  <hr> 


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Subjects Name</span>
          <input type="text" class="form-control" placeholder="Subjects Name" name="NameCrs" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Subjects Code</span>
          <input type="text" class="form-control" placeholder="Subjects Code" name="cdeCrs" aria-describedby="sizing-addon3">
        </div>

      </div>

      <div class="col-md-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="sizing-addon3">Class level</span>
          <input type="text" class="form-control" placeholder="Class level" name="abrvCrs" aria-describedby="sizing-addon3">
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Teacher</span>
          <input type="text" class="form-control" placeholder="Teacher" name="DepCrs" aria-describedby="sizing-addon3">
        </div>
      </div>

    </div>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">Description</div>
  <div class="panel-body">
    <textarea class="form-control" rows="3" name="introCrs"></textarea>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Echelle de notation par defaut
  </div>

</div>