<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Batch List
    <button class="btn-save" data-toggle="modal" data-target="#myModal">Create</button>
  </div>
  <div class="panel-body">
    <p>...</p>
  </div>
  <!-- <button type="button" class="btn btn-primary" (click)="onCreate">Create</button> -->
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <td>id</td>
        <td>Batch Name</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Departements</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of batch">
        <td>{{item.id}}</td> 
        <td>{{item.name}}</td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
        <td>{{item.department}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add class level</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              Add class level <br/> Add class level <br/> Add class level <br/>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Batch Name</span>
              <input type="text" class="form-control" placeholder="Code Class level" name="name" [(ngModel)]="name" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Start date</span>
              <input type="text" class="form-control" placeholder="Class level" name="start_date" [(ngModel)]="start_date" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">End date</span>
              <input type="text" class="form-control" placeholder="Class level" name="end_date" [(ngModel)]="end_date" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3" name="department">Departement</span>
              <select class="form-control">
                 <option>----</option>
                 <option *ngFor="let item of departments">{{item.name}}</option> 
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onCreate()">Create</button>
      </div>
    </div>
  </div>
</div>