<app-navbar> </app-navbar>
<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a routerLink="ecole">L'ecole</a></li>
      <li role="presentation"><a routerLink="dep-config">Departement</a></li>
      <li role="presentation"><a routerLink="cours">Cours</a></li>
      <li role="presentation"><a routerLink="programme">Programme</a></li>
      <li role="presentation"><a routerLink="instructeur">Instructeur</a></li>
      <li role="presentation"><a routerLink="classe">Classe</a></li>
      <li role="presentation"><a routerLink="anneeAcademic">Année Academique</a></li>
    </ul>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>

</div>