<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="#" routerLink="../../configuration">Department</a></li>
    <li class="active">Batch List</li>
  </ol>
  <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
  <!-- <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button> -->
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Rooms List
    <span class="pull-right">
      <!-- <button class="btn btn-success" type="submit" style="margin: -6px;" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD ROOM
    </button> -->
    </span>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      Select room below to show info
    </div>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of room">{{item.name}}</li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add room</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              Add room level <br/> Add room level <br/> Add room <br/>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Room Code</span>
              <input type="text" class="form-control" placeholder="Room Code" name="roomCode" [(ngModel)]="roomCode" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Room Name</span>
              <input type="text" class="form-control" placeholder="Room Name" name="roomName" [(ngModel)]="roomName" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Place</span>
              <input type="number" class="form-control" placeholder="Place" name="roomPlace" [(ngModel)]="roomPlace" aria-describedby="sizing-addon3">
            </div>

            <!-- <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Class level</span>
              <input type="text" class="form-control" placeholder="Class level" name="abrvCrs" aria-describedby="sizing-addon3">
            </div> -->

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Department</span>
              <select class="form-control" name="department" [(ngModel)]="department">
                 <option>----</option>
                 <option *ngFor="let item of departments" [ngValue]="item.id">{{item.name}}</option> 
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onSave()" >Save</button>
      </div>
    </div>
  </div>
</div>