<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="#" routerLink="../../configuration">Department</a></li>
    <li class="active">Subject List</li>
  </ol>
  <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
  <span class="pull-right">
    <div class="dropdown">
      <button class="btn btn-sm btn-default dropdown-toggle" style="margin: -6px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Action
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Delete</a></li>
        <li><a href="#">Class levels</a></li>
        <li><a href="#">Teachers</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </span>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Subjects List</div>

  <!-- Table -->
  <table class="table">
    <thead>
        <tr>
          <th>Code</th>
          <th>Subject Name</th>
          <th>Class Level</th>
          <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of subject">
        <td>{{item.code}}</td>
        <td><a href="#">{{item.name}}</a></td>
        <td>{{item.class_level.name}}</td>
        <td>{{item.teacher}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Add Subject</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="alert alert-info" role="alert">
              Add room level <br/> Add room level <br/> Add room <br/>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Room Code</span>
              <input type="text" class="form-control" placeholder="Room Code" name="roomCode" [(ngModel)]="roomCode" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Room Name</span>
              <input type="text" class="form-control" placeholder="Room Name" name="roomName" [(ngModel)]="roomName" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Place</span>
              <input type="number" class="form-control" placeholder="Place" name="roomPlace" [(ngModel)]="roomPlace" aria-describedby="sizing-addon3">
            </div>

            <!-- <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Class level</span>
              <input type="text" class="form-control" placeholder="Class level" name="abrvCrs" aria-describedby="sizing-addon3">
            </div> -->

            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Department</span>
              <select class="form-control" name="department" [(ngModel)]="department">
                 <option>----</option>
                 <option *ngFor="let item of departments" [ngValue]="item.id">{{item.name}}</option> 
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
</div>